### Ansible ###
*.retry

### macOS ###
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.icloud

### SSH ###
**/.ssh/id_*
**/.ssh/*_id_*
**/.ssh/known_hosts

### Terraform ###
./tf-gcp/**/.terraform/*
./tf-gcp/*.tfstate
./tf-gcp/*.tfstate.*
./tf-gcp/crash.log
./tf-gcp/crash.*.log
./tf-gcp/*.tfvars
./tf-gcp/*.tfvars.json
./tf-gcp/override.tf
./tf-gcp/override.tf.json
./tf-gcp/*_override.tf
./tf-gcp/*_override.tf.json
./tf-gcp/.terraformrc
./tf-gcp/terraform.rc
